#hero h1 {
  font-size: 46px;
}
#hero h2 {
  font-size: 36px;
}
#hero .welcome-content {
  background: rgba(0, 0, 0, 0.3);
}
div.img-box span.product-icon.icon-eye {
  cursor: pointer;
}
#products {
  padding-bottom: 10px;
}
#products .product-hide-false {
  display: none;
}
#products .product-hide-true {
  position: absolute;
  width: calc(70%);
  height: 100%;
  background: black;
  opacity: 0.6;
  z-index: 100;
  border-radius: 5px;
}
#products .product-hide-true h3 {
  position: absolute;
  top: 130px;
  width: 100%;
  line-height: 0;
  text-align: center;
  color: white;
}
#products .product-info .product-options {
  margin-top: 3px;
  font-size: 16px;
}
#products .product-info .product-options span {
  margin-right: 10px;
  font-weight: 600;
}
#products .product-info .product-option {
  margin-top: 8px;
}
#products .product-info .product-option form {
  display: inline-block;
  vertical-align: middle;
}
#project-modal .close {
  color: #888;
}
#cart tr.total td {
  font-weight: bold;
  font-size: 18px;
}
#cart tr.total td:nth-child(2) {
  text-align: right;
}
#cart tr.total.no-border td {
  border: none;
}
#cart .delete {
  width: 1%;
  color: red;
}
#cart .delete span {
  cursor: pointer;
}
#cart form {
  text-align: right;
}
span.icon-heart {
  color: #ff5b58;
}
