<!doctype html>
<html ng-app="storeApp">
	<head>
		<title>Token Stand</title>
		<meta charset="utf-8">
		<meta name="description" content="Token Stand: the stand your hard token deserves AND the one it needs right now.">
		<meta name="author" content="ANGELOSTUDIO.NET">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/superslides.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/icons.css">
		<link rel="stylesheet" href="css/animate.min.css">
		<link rel="stylesheet" href="css/green.css" class="colors">
		<link rel="stylesheet" href="css/custom.css">

		<link rel="icon" type="image/png" href="/img/favicon/favicon-196x196.png" sizes="196x196" />
		<link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16" />

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body id="home" ng-controller="orderController">



		<!-- hero -->
		<section id="hero" class="light-typo ">
			<div class="container welcome-content">
				<div class="row">
					<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
						<h1>Token Stand</h1>
						<h2>A stand for your token.</h2>
            <p>We are not affiliated with RSA Security LLC.</p>
					</div>
				</div>
			</div>
			<div class="overlay-bg"></div>
			<div id="hero-slides">
				<div class="slides-container">
					<img src="img/pics/DSC_4976.jpg" />
          <img src="img/pics/DSC_5036.jpg" />
          <img src="img/pics/DSC_4988.jpg" />
          <img src="img/pics/DSC_4993.jpg" />
          <img src="img/pics/DSC_5032.jpg" />
          <!--<img src="img/pics/DSC_5020.jpg" />-->
          <!--<img src="img/pics/DSC_4992.jpg" />-->
				</div>
			</div>
		</section>



		<!-- products -->
		<section id="products" class="padding-top-bottom">
			<div class="container">
				<header class="section-header text-center wow fadeInUp">
					<h2>Changing the world one hard token at a time.</h2>
					<h3>Hand-made artisanal crafts?  Naw, we use <a href="https://www.lulzbot.com/products/lulzbot-mini-3d-printer" target="_blank">a robot</a> to 3D print all the Token Stands.</h3>
				</header>
			</div>
			<div class="container">
				<div id="projects-container" class="row">
					<article class="design product col-xs-12 col-sm-6 col-md-6 wow fadeInUp" data-wow-delay="0.2s" ng-repeat="product in products">
						<div class="product-hide-{{ product.hide }}">
							<h3>Coming Soon</h3>
						</div>

						<div class="img-box">
							<div class="hover-mask2"></div>
							<span class="product-icon icon-eye"></span>
							<img class="img-responsive project-image" ng-src="img/models/{{ productNumber(product) }}.jpg" />
						</div>

						<div class="product-info col-md-12">
							<div>
								<h4 class="project-title">{{ product.name }}</h4>
							</div>
							<div class="product-options">
								<div class="product-option" ng-repeat="productOption in product.options">
									<span>{{ productOption.name }}</span>
									<select
										class="form-control
										form-control-inline"
										ng-model="productOption.selected"
										ng-init="productOption.selected = productOption.options[0]"
										ng-options="o as o.name for o in productOption.options">
									</select>
								</div>

								<div class="product-option">
									<span>{{ totalPrice(product) | currency:"$":0 }}</span>
									<button class="btn btn-store" ng-click="addToCart(product)">Add to Cart</button>
								</div>
							</div>
						</div>
						<div class="sr-only project-description" data-images="{{ modalImages(product) }}">
							<p ng-bind-html="product.description"></p>
						</div>
					</article>
				</div>
			</div>

			<div id="project-modal" class="modal " style="display: none;" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<a class="close" href="#" data-dismiss="modal" ><i class="icon-close"></i></a>
							<div class="loader" style="display: block;"></div>
							<div class="screen"></div>
						</div>
						<div class="modal-body">
							<div class="container">
								<div class="row">
									<div id="project-sidebar" class="col-md-4 ">
										<h2 id="sdbr-title">Title</h2>
									</div>
									<div id="project-content" class="col-md-8 ">
                    <p>Content</p>
                  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<!-- cart -->
		<section id="cart" class="padding-top-bottom gray-bg" ng-if="cart.length > 0">
			<div class="container">
				<header class="section-header text-center wow fadeInUp">
					<h2>Your Order</h2>
				</header>

				<div class="row">
					<div class="order col-lg-12">
						<table class="table wow fadeInUp">
							<thead>
								<tr>
									<th>Product</th>
									<th>Options</th>
									<th>Price</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="product in cart" class="wow fadeInLeft">
									<td>{{ product.name }}</td>
									<td>{{ cartOptions(product) }}</td>
									<td>{{ totalPrice(product) | currency:"$":0 }}</td>
									<td class="delete">
										<span ng-click="removeFromCart($index)">&times;</span>
									</td>
								</tr>
								<tr class="total">
									<td></td>
									<td style="text-align: right;">Shipping:</td>
									<td>Free</td>
									<td></td>
								</tr>
								<tr class="total no-border">
									<td></td>
									<td style="text-align: right;">Total:</td>
									<td>{{ cartPrice() | currency:"$":0 }}</td>
									<td></td>
								</tr>
							</tbody>
						</table>

						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="wow fadeInLeft">
							<input type="hidden" name="cmd" value="_cart">
							<input type="hidden" name="upload" value="1">
							<input type="hidden" name="business" value="QB7KBL7ZKSZ4Q">
							<input type="hidden" name="lc" value="US">

							<div ng-repeat="product in cart">
								<input type="hidden" name="item_name_{{ $index+1 }}" value="{{ product.name }}">
								<input type="hidden" name="item_number_{{ $index+1 }}" value="{{ productNumber(product) }}">
								<input type="hidden" name="amount_{{ $index+1 }}" value="{{ totalPrice(product) | number:2 }}">
							</div>

							<input type="hidden" name="currency_code" value="USD">
							<input type="hidden" name="button_subtype" value="services">
							<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHosted">
							<input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-medium.png" border="0" name="submit" alt="Buy now with PayPal">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
				</div>
			</div>
		</section>



		<!-- delivery -->
		<section class="color-bg light-typo">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center wow fadeInLeft">
						<h3 class="center cta-message">Questions?  <a href="mailto:schardy@ebay.com,mmedal@ebay.com" target="_blank" style="color: white; text-decoration: underline;">Email us.</a></h3>
						<h3 class="center cta-message">Orders can be picked up from our desk at eBay Orchard Campus, L2.2.333</h3>
						<h3 class="center cta-message">(we might do shipping eventually if there's enough interest)</h3>
					</div>
				</div>
			</div>
		</section>



		<!-- about -->
		<section id="about" class="gray-bg padding-top-bottom ">
			<div class="container">
				<div class="row">
					<div class="col-md-4 wow fadeInLeft">
						<header class="section-header cta-message">
							<h2>Token Stand</h2>
							<h4>Innovation at work</h4>
						</header>
					</div>
					<div class="col-md-8 cta-message wow fadeInUp">
						<p>When we set out to revolutionize the angle at which you see your hard token, we weren't sure what to expect.</p>
						<p>After countless hours of prototyping and redefining what it means to hold a token, we're proud to announce the <strong>Token Stand</strong>, a product we believe will disrupt the entire industry of token standing.</p>
						<!--<p>In the spirit of <a href="http://en.wikipedia.org/wiki/Shrek" target="_blank">Shrek</a>, we have decided to open-source our hard work so that others may be inspired by our mission.</p>-->
						<a class="btn btn-store outline" href="https://github.com/scott113341/Token-Stand" target="_blank">github project</a>
					</div>
				</div>
			</div>
		</section>



		<!-- footer -->
		<footer id="main-footer" class="dark-bg light-typo">
			<div class="container">
				<p class="text-center copyright wow fadeInLeftBig">
					Made without <span class="icon-heart"></span> in Santa Clara, California by <a href="https://www.linkedin.com/in/mmedal" target="_blank">Matt Medal</a> and <a href="http://scotthardy.me" target="_blank">Scott Hardy</a>.
          <br/>
          We are not affiliated with RSA Security LLC.
          <br/>
          Questions?  <a href="mailto:schardy@ebay.com,mmedal@ebay.com" target="_blank">Email us.</a>
				</p>
			</div>
		</footer>



		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jquery.singlePageNav.min.js"></script>
		<script type="text/javascript" src="js/jquery.superslides.min.js"></script>
		<script type="text/javascript" src="js/jquery.countdown.min.js"></script>
		<script type="text/javascript" src="js/wow.min.js"></script>
		<script type="text/javascript" src="js/custom.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-63423013-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>
